<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Vehicle Service System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

        <ng-container *ngIf="!isLoggedIn">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active text-success font-weight-bold" routerLink="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active text-success font-weight-bold" routerLink="/register">Register</a>
          </li>
        </ng-container>

        <ng-container *ngIf="isLoggedIn">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active text-success font-weight-bold" routerLink="/vehicles-list">Vehicles</a>
          </li>


          <li class="nav-item" style="cursor:pointer;" *ngIf="appService?.currentUser as user" [matMenuTriggerFor]="menu">
            <a class="nav-link text-danger" style="cursor:pointer;">
              <span class="text-dark">Logged In As: </span>
              <span class="text-danger font-weight-bold">{{user.firstName}} {{user.lastName}}</span>
            </a>

            <mat-menu #menu="matMenu">
              <a class="nav-link" style="cursor: pointer;" (click)="logout()">Logout</a>
            </mat-menu>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
